body {
  font-family: sans-serif;
}

a {
  color: darkblue;
  text-decoration: none;
}

img {
  height: 70px;
}

img:active {
  transform:scale(5) translate(10px, 10px);
}

table {
  margin: auto;
  width: 100%;
  max-width: 1300px;
  border-collapse: collapse;
}

td, th {
  text-align: center;
}

th {
  position: sticky;
  background: #CCC;
  top: 0px;
  font-size: 15pt;
}

tr:nth-child(odd) {
  background: #CCC;
}

input {
  width: 75px;
}

body.text {
  max-width: 800px;
  margin: auto;
}

h1 {
  margin-bottom: 0px;
}

p.authors {
  margin-top: 0px;
  font-style: italic;
}

dt {
  font-weight: bold;
}
